{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab2</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
</head>
<body>
<div class="container">
    <div class="row">
        <h2 class="text">X1 min = {{ X1min }}</h2>
        <h2 class="text">X1 max = {{ X1max }}</h2>
        <h2 class="text">X2 min = {{ X2min }}</h2>
        <h2 class="text">X2 max = {{ X2max }}</h2>
        <h2 class="text">Y min = {{ Ymin }}</h2>
        <h2 class="text">Y max = {{ Ymax }}</h2>
    </div>
    <div class="row">
        <table class="table">
            <tr>
                <td>X1</td>
                <td>X2</td>
                <td>Y1</td>
                <td>Y3</td>
                <td>Y3</td>
                <td>Y4</td>
                <td>Y5</td>
            </tr>
            {% for row in norm_table %}
                <tr>
                    {% for x in row.X %}
                        <td>{{ x }}</td>
                    {% endfor %}
                    {% for y in row.Y %}
                        <td>{{ y }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p class="text">Середні значення У</p>
        {% for foo in norm_table %}
            <p class="text">{{ foo.Yavg }}</p>
        {% endfor %}

        <br>
        <p class="text">Основне відхилення: {{ main_vidh }}</p>
        <p class="text">Fuv</p>
        {% for fuv in Fuv %}
            <p class="text">{{ fuv }}</p>
        {% endfor %}
        <br>
        <p class="text">Sigma uv</p>
        {% for suv in Sigmauv %}
            <p class="text">{{ suv }}</p>
        {% endfor %}
        <br>
        <p class="text">Ruv</p>
        {% for ruv in Ruv %}
            <p class="text">{{ ruv }}</p>
        {% endfor %}
        <br>
        <p class="text">mx1 = {{ mx1 }}</p>
        <p class="text">mx2 = {{ mx2 }}</p>
        <p class="text">my = {{ my }}</p>
        <br>
        <p class="text">a1 = {{ a1 }}</p>
        <p class="text">a2 = {{ a2 }}</p>
        <p class="text">a3 = {{ a3 }}</p>
        <br>
        <p class="text">a11 = {{ a11 }}</p>
        <p class="text">a22 = {{ a22 }}</p>
        <br>
        <p class="text">b0 = {{ b0 }}</p>
        <p class="text">b1 = {{ b1 }}</p>
        <p class="text">b2 = {{ b2 }}</p>
        <br>
        <p class="text">Перевірка:</p>
        {% for foo in check %}
            <p class="text">{{ foo }}</p>
        {% endfor %}
        <br>
        <p class="text">dx1 = {{ dx1 }}</p>
        <p class="text">dx2 = {{ dx2 }}</p>
        <p class="text">x10 = {{ x10 }}</p>
        <p class="text">x20 = {{ x20 }}</p>
        <p class="text">A0 = {{ A0 }}</p>
        <p class="text">A1 = {{ A1 }}</p>
        <p class="text">A2 = {{ A2 }}</p>
        <br>
        <p class="text">Фінальна перевірка</p>
        {% for foo in final_check %}
            <p class="text">{{ foo }}</p>
        {% endfor %}

    </div>
</div>
</body>
</html>